body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #000;
  color: #ACACAC;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  max-width: 1200px;
}
img.vertical {
  width: 100%;
}
.layout {
  width: 100%;
  t-webkit-transition: opacity ease-in-out 2s;
    -moz-transition: opacity ease-in-out 2s;
    -o-transition: opacity ease-in-out 2s;
    transition: opacity ease-in-out 2s;
}
.layout-hidden .layout {
  opacity: 0;
  pointer-events: none;
}
.fixed-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav {
  width: 50%;
  padding: 10px;
}
nav li {
  margin-bottom: 7px;
}
nav li:last-child {
  margin-bottom: 0 !important;
}
nav a {
  color: #ACACAC;
}
nav a.active,
nav a:hover {
  color: #fff;
}
video {
  padding: 0 10px;
  display: block;
}
#seen {
  padding: 20px 10px;
  cursor: pointer;
  t-webkit-transition: opacity ease-in-out 2s;
    -moz-transition: opacity ease-in-out 2s;
    -o-transition: opacity ease-in-out 2s;
    transition: opacity ease-in-out 2s;
  font-size: 8px;
  color: #ACACAC;
  display: block;
}
.layout-hidden #seen {
  opacity: 0;
  pointer-events: none;
}
.content {
  position: relative;
}
.details .item {
  margin-bottom: 10px;
}
.details .wrapper {
  display: block;
  padding: 10px 10px 25px;
}
.link-details {
  display: none;
}
.project-slider {
  padding: 10px;
  position: relative;
}
.project-slider li {
  display: block;
  margin-bottom: 10px;
}
.project-slider img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  height: auto !important;
  display: block;
}
@media only screen and (min-width: 1000px) {
  .fixed-nav {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
  }
  nav {
    padding: 20px;
  }
  nav li {
    margin-bottom: 10px;
  }
  .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1600px;
  }
  .content {
    width: 80%;
    margin-left: 20%;
  }
  .project-slider {
    display: block;
    padding: 20px 20px 0;
    height: calc(100vh - 54px);
  }
  .project-slider li {
    display: none;
    margin: 0;
    position: relative;
  }
  .project-slider li.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }
  .project-slider ul,
  .project-slider li {
    height: calc(100vh - 74px);
  }
  .project-slider img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin: auto !important;
  }
  .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 9;
  }
  .arrow-left {
    left: 0;
    cursor: w-resize;
  }
  .arrow-right {
    right: 0;
    cursor: e-resize;
  }
  #seen {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  video {
    padding: 0 20px;
  }
  .details .wrapper {
    display: none;
    padding: 20px;
    padding-top: 40px;
  }
  .details .wrapper.active {
    display: block;
  }
  .link-details {
    display: inline-block;
    padding-left: 20px;
    cursor: s-resize;
  }
  .details {
    margin-top: 17px;
    position: relative;
    z-index: 2;
  }
  .details .item {
    margin-bottom: 20px;
  }
  img.vertical {
      max-height: 90vh;
      width: auto;
  }
}

#trigger {
  cursor: pointer;
}

#trigger:hover {
  color: #fff;
}

.current {
  pointer-events: none;
  color: #fff;
}

.hidden {
  visibility: hidden;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}